body {
  font-family: Arial, sans-serif;
  background-color: #f0f7fb;
  margin: 0;
  padding: 20px;
  direction: rtl;
}

.container {
  width: 500px;
  margin: 0 auto;
}

h1 {
  color: #0066cc;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input[type="text"] {
  width: 98%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#searchContainer {
	display: grid;
	justify-items: right;
  margin-top: 13px;
}
#searchInput {
	width: 45%;
  margin-left: 6px;
}
#searchLabel {
	margin-left: 5px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0066cc;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0052a3;
}

#savedLinksSection {
  margin-top: 20px;
}

#linksList {
  list-style-type: none;
  padding: 0;
}

#linksList li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#linksList li button {
  margin-left: 10px;
  background-color: #e6e6e6;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  left: 0;
  position: absolute;
  padding: 6px 14px;
  margin-top: -9px;
}

.brand {
  cursor: pointer;
}

#importLabel {
  margin-top: 14px;
}

a{
text-decoration: none;
}

@media screen and (max-width: 992px) {
  #searchContainer {
    justify-items: unset !important;
  }
  #searchInput {
    width: 98%;
    margin-left: unset;
  }
}